doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Bangers')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Inconsolata')
    script(src="/javascripts/jquery-3.2.0.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/main.js")
  body(onload="init()")
    block content
